.layout {
  display: flex;
}

.main-content {
  margin-left: 280px;
  width: calc(100% - 280px);
  min-height: 100vh;
  background: #f6fafc;
}

.page-content {
  padding: 10px 30px;
}

/* DARK MODE */

body.dark-mode .layout {
  background: #0f172a;
}

body.dark-mode .main-content {
  background: #0f172a;
}

body.dark-mode .page-content {
  background: #0f172a;
}

/* Tablet */
@media (max-width: 1024px) {
  .main-content {
    margin-left: 240px;
    width: calc(100% - 240px);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .page-content {
    padding: 10px 12px;
  }
}
